<!-- jquery.min.js -->
{{ $a := .Site.Params.weii.lib_cdn.enable }}
{{ $url := .Site.Params.weii.lib_cdn.jquery_min_js }}
{{ if (and ($a) ($url)) }}
<script src="{{ $url }}"></script>
{{ else }}
{{ $url := "js/jquery.min.js" | relURL }}
<script src="{{ $url }}"></script>
{{ end }}
<!-- 不蒜子计数 -->
{{ $a1 := .Site.Params.weii.lib_cdn.enable }}
{{ $a2 := .Site.Params.weii.lib_cdn.busuanzi_pure_mini_js }}
{{ if (and ($a1) ($a2)) }}
<script async src="{{ $a2 }}"></script>
{{ else }}
{{ $url := "js/busuanzi.pure.mini.js" | relURL }}
<script async src="{{ $url }}"></script>
{{ end }}

