<!-- CSS -->
<!-- Bootstrap CSS -->
{{ $a := .Site.Params.weii.lib_cdn.enable }}
{{ $url := .Site.Params.weii.lib_cdn.bootstrap_min_css }}
{{ if (and ($a) ($url)) }}
<link href="{{ $url }}" rel="stylesheet">
{{ else }}
{{ $url := "css/bootstrap.min.css" | relURL}}
<link href="{{ $url }}" rel="stylesheet">
{{ end }}
<!-- weii theme iconfont CSS -->
{{ $a1 := .Site.Params.weii.lib_cdn.enable }}
{{ $url := .Site.Params.weii.lib_cdn.weii_iconfont_css }}
{{ if (and ($a1) ($url)) }}
<link rel="stylesheet" type="text/css" href="{{ $url }}">
{{ else }}
{{ $url := "css/iconfont.css" | relURL }}
<link rel="stylesheet" type="text/css" href="{{ $url }}">
{{ end }}
<!-- weii CSS -->
{{ $url := "css/weii.css" | relURL }}
<link rel="stylesheet" type="text/css" href="{{ $url }}">
<!-- custom CSS -->
{{ $a := .Site.Params.weii.custom.enable }}
{{ $url := .Site.Params.weii.custom.iconfont_css }}
{{ if (and ($a) ($url)) }}
<link rel="stylesheet" type="text/css" href="{{ $url }}">
{{ end }}