<!--首页-->
{{ range .Paginator.Pages }}

<div class="panel panel-default post-panel">
    <div class="panel-heading post-head">
        <div class="post-title">
            <a href="{{ .RelPermalink | relURL }}">
                <h2>{{ .Title }}</h2>
            </a>
        </div>
        <div class="post-meta">

            <span class="post-date">
                <i class="iconfont iconcalendar-check"></i>
                <span>{{ .Lastmod.Format "2006.01.02" }} update</span>
            </span>

            <span class="post-wordCount">
                <span class="post-meta-divider divider">|</span>
                <i class="iconfont iconfile-word"></i>
                <span>{{ .FuzzyWordCount }} words</span>
            </span>

            <span class="post-readingTime">
                <span class="post-meta-divider divider">|</span>
                <i class="iconfont iconField-time"></i>
                <span>{{ .ReadingTime }} minute</span>
            </span>

            {{ if .Site.Params.weii.comment.enable }}
            {{ if .Site.Params.weii.comment.disqus.enable }}

            <span class="post-comment-count">
                <span class="post-meta-divider divider">|</span>
                <i class="iconfont iconcomment"></i>
                <span>
                    <a href="{{ .RelPermalink | relURL }}#comments" itemprop="discussionUrl">
                    <span class="post-comment-count disqus-comment-count" data-disqus-identifier="{{ .Title }}"
                      itemprop="commentCount">comments</span>
                    </a>
                </span>
            </span>

            {{ else if .Site.Params.weii.comment.commentjs.enable }}

            <span class="post-comment-count">
                <span class="post-meta-divider divider">|</span>
                <i class="iconfont iconcomment"></i>
                <span>
                    <a href="{{ .RelPermalink | relURL }}#comments">
                        <span class="post-comment-count">
                            <span id="{{ .Title }}">0</span> comments
                        </span>
                    </a>
                </span>
            </span>
            {{ else if .Site.Params.weii.comment.utterances.enable }}

            <span class="post-comment-count">
                <span class="post-meta-divider divider">|</span>
                <i class="iconfont iconcomment"></i>
                <span>
                    <a href="{{ .RelPermalink | relURL }}#comments">
                        <span class="post-comment-count">
                            <span id="{{ .File.UniqueID }}">0</span> comments
                        </span>
                    </a>
                </span>
            </span>

            {{ else if .Site.Params.weii.comment.valine.enable }}

            <span class="post-comment-count">
                <span class="post-meta-divider divider">|</span>
                <i class="iconfont iconcomment"></i>
                <span>
                    <a href="{{ .RelPermalink | relURL }}#comments" itemprop="discussionUrl">
                        <span class="post-comment-count">
                            <span></span> comments
                        </span>
                    </a>
                </span>
            </span>

            {{ end }}
            {{ end }}

        </div>

    </div>
    <div class="panel-body post-body">
        <div class="post-index">
            <p>{{ .Summary }}......</p>
            {{ if .Truncated }}
            <div class="post-read-more">
                <a href="{{ .RelPermalink | relURL }}">阅读更多</a>
            </div>
            {{ end }}
        </div>
    </div>

    {{ with .Params.tags }}
    <div class="panel-footer post-footer">
        {{ range $k, $v := . }}
        {{ $url := "tags" | relURL}}
        <span class="label label-default post-label" >
            <a href="{{ $url }}/{{ . | urlize }}/">
                <i class="iconfont icontags"></i> {{ $v }}
            </a>
        </span>
        {{ end }}
    </div>
    {{ end }}

</div>

{{ end }}

<!--首页分页器-->
<nav class="post-pagination">
    {{ template "_internal/pagination.html" . }}
</nav>

<!--首页随机标签颜色JS-->
{{ if .Site.Params.weii.tags_color }}
<script type="text/javascript">
    $(document).ready(function () {
        var tags_span = $(".post-footer").find("span");
        tags_span.each(function () {
            var tags_color_rand = parseInt(Math.random()*{{- len .Site.Params.weii.tags_color -}});
            var tags_color_array=new Array({{- len .Site.Params.weii.tags_color -}});
            {{ range $k, $v := .Site.Params.weii.tags_color }}
            tags_color_array[{{- $k -}}]={{- $v -}};
            {{ end }}
            $(this).css("background-color",tags_color_array[tags_color_rand]);

            {{ if .Site.Params.weii.tags_color_hover }}
            var tags_color_hover_rand = parseInt(Math.random()*{{- len .Site.Params.weii.tags_color_hover -}});
            var tags_color_hover_array=new Array({{- len .Site.Params.weii.tags_color_hover -}});
            {{ range $k, $v := .Site.Params.weii.tags_color_hover }}
            tags_color_hover_array[{{- $k -}}]={{- $v -}};
            {{ end }}
            $(this).hover(function(){
                $(this).css("background-color",tags_color_hover_array[tags_color_hover_rand]);
            },function(){
                $(this).css("background-color",tags_color_array[tags_color_rand]);
            });
            {{ end }}
        });
    });
</script>
{{ end }}

<!--comment JS-->
{{ $S := . }}
{{ if .Site.Params.weii.comment.enable }}
{{ if .Site.Params.weii.comment.disqus.enable }}
<script id="dsq-count-scr" src="//{{ .Site.Params.weii.comment.disqus.disqusShortname }}.disqus.com/count.js" async></script>
{{ else if .Site.Params.weii.comment.commentjs.enable }}
<script type="text/javascript">
    $.ajax({
        url: 'https://api.github.com/repos/{{- .Site.Params.weii.comment.commentjs.user -}}/{{- .Site.Params.weii.comment.commentjs.repo -}}/issues?client_id={{- .Site.Params.weii.comment.commentjs.client_id -}}&client_secret={{- .Site.Params.weii.comment.commentjs.client_secret -}}',
        dataType: 'json',
        cache: false,
        crossDomain: true,
        success: function success(page_comments) {
            for (var i = 0; i < page_comments.length; ++i) {
                $("#" + page_comments[i].title).text(page_comments[i].comments + 1)
            }
        }
    });
</script>
{{ else if .Site.Params.weii.comment.utterances.enable }}
<script type="text/javascript">
    function getIssuesComments(Title,UniqueID) {
        $.ajax({
        url: 'https://api.github.com/search/issues?q='+Title+'type:issue in:title repo:{{- .Site.Params.weii.comment.utterances.user -}}/{{- .Site.Params.weii.comment.utterances.repo -}}&sort=created&order=asc&client_id={{- .Site.Params.weii.comment.utterances.client_id -}}&client_secret={{- .Site.Params.weii.comment.utterances.client_secret -}}',
        dataType: 'json',
        cache: false,
        crossDomain: true,
        success: function success(page_comments) {
            $("#" + UniqueID).text(page_comments.total_count)
        }
    });
    };
    {{- range $S.Paginator.Pages -}}
    getIssuesComments({{.Title}},{{ .File.UniqueID }});
    {{- end -}}
</script>
{{ else if .Site.Params.weii.comment.valine.enable }}
<script type="text/javascript">
</script>
{{ end }}
{{ end }}