{{ if .Site.Params.weii.reward.enable }}
<div class="reward" id="reward">

    <div class="reward-comment">
         <span> {{ .Site.Params.weii.reward.comment }}🤣</span>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg reward-button" data-toggle="modal" data-target="#myModal">
        支持一下
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">来杯咖啡</h4>
                </div>
                <div class="modal-body">
                    <div class="reward-body" id="reward-body">

                        <div class="row">
                            <div class="col-xs-6">
                                {{ $url := .Site.Params.weii.reward.wechatpay_qrcode | relURL }}
                                <div class="reward-qr">
                                    <img src="{{ $url }}" alt="wechatpay_qrcode" class="img-responsive img-thumbnail">
                                    <span>微信</span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                {{ $url := .Site.Params.weii.reward.alipay_qrcode | relURL }}
                                <div class="reward-qr">
                                    <img src="{{ $url }}" alt="wechatpay_qrcode" class="img-responsive img-thumbnail">
                                    <span>支付宝</span>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
{{ end }}