<aside class="sidebar" id="sidebar" style="background: url(/images/background.png);">

    <div class="info sidebar-item" id="info">

        {{ if .Site.Params.weii.avatar }}
        {{ if .Site.Params.weii.effect.animate }}
        <img class="author-avatar" onmouseover="this.style.transform='rotateY(720deg)'"
             onmouseout="this.style.transform=''"
             src="{{ .Site.Params.weii.avatar | relURL }}" alt="{{ .Site.Params.author }}">
        {{ else }}
        <img class="author-avatar" src="{{ .Site.Params.weii.avatar | relURL }}" alt="{{ .Site.Params.author }}">
        {{ end }}
        {{ end }}

        <h2 class="author-name">{{ .Site.Params.author }}</h2>
        <h3 class="author-description">{{ .Site.Params.description }}</h3>
        <div class="site-count">
            {{ $T := .Site }}
            {{ range $k,$v := .Site.Menus.main }}
            {{ if eq $v.Identifier "posts"}}
            <div class="count-block">
                <div class="site-count-title">{{ $v.Name }}</div>
                <div><a href="{{ $v.URL }}">{{ len $T.RegularPages }}</a></div>
            </div>
            {{ else if eq $v.Identifier "categories"}}
            <div class="count-block">
                <div class="site-count-title">{{ $v.Name }}</div>
                <div><a href="{{ $v.URL }}">{{ len $T.Taxonomies }}</a></div>
            </div>
            {{ else if eq $v.Identifier "tags"}}
            <div class="count-block">
                <div class="site-count-title">{{ $v.Name }}</div>
                <div><a href="{{ $v.URL }}">
                    {{ $categoryNum := 0 }}
                    {{ range $taxonomyname, $taxonomy := $T.Taxonomies }}
                    {{ if eq $taxonomyname "tags" }}
                    {{ $categoryNum = len $taxonomy }}
                    {{ end }}
                    {{ end }}
                    {{ $categoryNum }}
                </a></div>
            </div>
            {{ end }}
            {{ end }}
        </div>

        <div class="rss">
            <a class="btn rss-link" href="{{ .Site.RSSLink }}"
               type="application/rss+xml" title="rss">
                <i class="iconfont iconrss rss-icon"> RSS</i>
            </a>
        </div>

    </div>

    <div class="sidebar-sticky">

        {{ if (and (and (gt .FuzzyWordCount 10) (.IsPage)) (.TableOfContents)) }}
        <!--page toc-->
        <hr>
        <div class="post-toc sidebar-item">
            <div><i class="iconfont iconorderedlist"></i> 文章目录</div>
            {{ .TableOfContents }}
        </div>
        {{ end }}
        <!--页面标题-->
        <hr>
        <div class="social-link sidebar-item">
            <div><i class="iconfont iconidcard"></i> 社交链接</div>
            <ul>
                {{ range $k,$v := .Site.Params.weii.social }}
                <li>
                    <a href="{{ $v.url }}" data-toggle="tooltip" data-placement="top"
                       title="{{ $v.tip }}">
                        <i class="{{ $v.icon_class }}"></i> {{ $v.name }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
        <hr>
        <div class="blogroll sidebar-item">
            <div><i class="iconfont iconlink"></i> 友情链接</div>
            <ul>
                {{ range $k,$v := .Site.Params.weii.blogroll }}
                <li>
                    <a href="{{ $v.url }}" target="_blank" data-toggle="tooltip" data-placement="top"
                       title="{{ $v.tip }}">
                        <i class="{{ $v.icon_class }}"></i> {{ $v.name }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>

</aside>
