<!--标签详情页-->
<div class="panel panel-default post-panel">
    <div class="panel-heading post-head">
        <div class="post-title"><h2><a href='{{ .RelPermalink }}'>{{ .Title }}</a></h2></div>
        <div class="post-meta"><span>此标签有 {{ len .Pages }} 篇文章！</span></div>
    </div>
</div>

{{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
<div class="panel panel-default post-panel">
    <div class="panel-heading post-head">
        <div class="post-meta"><span>{{ .Key }}</span></div>
    </div>
</div>
{{ range .Pages }}
<div class="panel panel-default post-panel">
    <div class="panel-body post-body">
        <div class="post-tag">
            <div class="post-title">
                <h3><a href="{{ .RelPermalink }}" data-toggle="tooltip" data-placement="top"
                       title="{{ .Summary }}">{{ .Title }}</a></h3>
            </div>
            <div class="post-meta">
                <span>{{ .Date.Format "01-02" }}</span>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}

<!--分页器-->
<nav class="post-pagination">
    {{ template "_internal/pagination.html" . }}
</nav>
