<!--标签的标签页-->
{{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
{{ with $taxonomy }}
<div class="panel panel-default post-panel">
    <div class="panel-heading post-head">
        <div class="post-title">
            <h2><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}
                标签</a></h2></div>
        <div class="post-meta"><span>你已经创建了 {{ len $taxonomy}} 个标签！</span></div>
    </div>

    <div class="panel-body post-body">
        <div class="post-tags">

            {{ range $key, $value := $taxonomy }}
            {{ if ($key) }}
            <a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}{{ "/" | relLangURL}}{{ $key | urlize }}"
            title="{{ len $value }}个内容"
            data-toggle="tooltip" data-placement="top">
            {{ $key }}
            </a>
            {{ end }}
            {{ end }}
        </div>
    </div>


</div>

{{ end }}
{{ end }}

<script type="text/javascript">
    $(document).ready(function () {
        var tags_a = $(".post-tags").find("a");
        tags_a.each(function () {
            var x = 9;
            var y = 0;
            var rand = parseInt(Math.random() * (x - y + 1) + y);
            $(this).addClass("tag-size" + rand);
        });
    });
</script>